
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutA.cshtml";
}

<div class="content-wrapper">
    <span class="d-none" id="messageBox"></span>
    <br />
    <div class="row">
        <div class="col-12">
            <h2 class="text-primary text-center">English Class</h2>
        </div>
    </div>

    <br />

    <div class="p-4 border rounded row  bg-white">
        <div class="col-12 row">

            <div class="col-md-2 mt-2">
                <button type="button" id="addBtn" class="btn btn-primary form-control"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
        <div class="col-12 mt-2 table-responsive">
            <table id="tblData" class="table table-striped table-bordered" style="width:100%;">
                <thead class="thead-light">
                    <tr class="table-info">
                        <th>SL</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>No.Class</th>
                        <th>StatusName</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 row">
        <div class="modal fade ml-3 col-12" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content row" id="modalContent">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row">
        <div class="modal fade col-12" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content row" id="addContent">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row">
        <div class="modal fade col-12" id="permissionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content row" id="permissionContent">
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        var dataTable;
        $(document).ready(function () {
            loadDataTable();
            var text = $("#messageBox").text();
            if (text != "") {
                toastr.success(text);
            }
        });

        var i = 1;
        function loadDataTable() {
            dataTable = $("#tblData").DataTable({
                "ajax": {
                    "url": "/EnglishClass/GetAllEnglishClass"
                },
                "columns": [
                    {
                        data: 'SrNo',
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { "data": "className", "width": "20%" },
                    { "data": "amount", "width": "20%" },
                    { "data": "s_ClassName", "width": "20%" },
                    { "data": "statusName", "width": "10%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center">
                                                                        <button type="button" class="btn btn-success modalBtn" data-id="${data}" ><i class="fas fa-edit"></i></button>
                                                                        <button type="button" class="btn btn-danger deleteBtn" data-id="${data}" ><i class="fas fa-trash"></i></button>
                                                                    </div>`;
                        }, "width": "20%"
                    }
                ]
            });
        }






        $(document).on('click', '.modalBtn', function () {
            $.ajax({
                url: "/EnglishClass/UpdateEnglishCLass",
                type: "GET",
                data: {
                    classId: $(this).attr("data-id")
                },
                success: function (response) {
                    $("#modalContent").html(response);
                },
                error: function (er) {
                    alert(er);
                }
            });
            $('#myModal').modal('show');
        });

        $(document).on('click', '#addBtn', function () {
            $.ajax({
                url: "/EnglishClass/AddEnglishClass",
                type: "GET",
                success: function (response) {
                    $("#addContent").html(response);
                },
                error: function (er) {
                    alert(er);
                }
            });
            $('#addModal').modal('show');
        });



        $(document).on('click', '.deleteBtn', function () {
            swal({
                title: "Are you sure that you want to delete this data",
                text: "If you once delete this you can not restore it!",
                icon: "warning",
                dangerMode: true,
                buttons: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '@Url.Action("DeleteEnglishClass", "EnglishClass")',
                        type: "POST",
                        data: {
                            classId: $(this).attr("data-id")
                        }
                    }).done(function (response) {
                        swal("Successfully Deleted", {
                            icon: "success"
                        });
                        dataTable.ajax.reload();
                    }).fail(function (xhr) {
                        toastr.error("Post Type Can Not Delete");
                    })
                }
            })
        });
    </script>
}


