
@model IList<S_EDex365.Model.Model.Menu>

   @{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}
<aside class="app-aside app-aside-expand-md app-aside-dark">
    <div class="aside-content">
        <header class="aside-header d-block d-md-none">
                 
        </header>

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
           
                

           

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="AdminDashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Dynamic Menu Items -->
            @foreach (var menu in Model)
            {
                var isActive = (menu.Controller == currentController && menu.Action == currentAction);
                <li class="nav-item @(isActive ? "active" : "")">
                    <a asp-controller="@menu.Controller" asp-action="@menu.Action" class="nav-link">
                        <i class="fas fa-fw fa-angle-right"></i>
                        <span>@menu.Name</span>
                    </a>
                </li>
            }


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

    </div>
</aside>

