USE [edex365db]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassName] [nvarchar](250) NULL,
	[UpdateAt] [date] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Controller] [varchar](50) NULL,
	[Action] [varchar](50) NULL,
	[PermissionName] [varchar](50) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemsPost]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemsPost](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NULL,
	[Topic] [nvarchar](250) NULL,
	[ClassId] [uniqueidentifier] NULL,
	[Description] [nvarchar](500) NULL,
	[Photo] [nvarchar](250) NULL,
	[UserId] [uniqueidentifier] NULL,
	[Status] [bit] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[RoleId] [uniqueidentifier] NULL,
	[MenuId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolutionPost]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolutionPost](
	[Id] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NULL,
	[Photo] [nvarchar](250) NULL,
	[StudentId] [uniqueidentifier] NULL,
	[Status] [bit] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[ProblemPostId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectName] [nvarchar](250) NULL,
	[UpdateAt] [date] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSkill]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSkill](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[SubjectId] [uniqueidentifier] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [uniqueidentifier] NULL,
	[RoleId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[MobileNo] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](15) NULL,
	[Status] [bit] NULL,
	[School] [nvarchar](250) NULL,
	[ClassId] [uniqueidentifier] NULL,
	[Dob] [nvarchar](150) NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[UserTypeId] [uniqueidentifier] NULL,
	[OTP] [int] NULL,
	[SubjectId] [uniqueidentifier] NULL,
	[Image] [nvarchar](250) NULL,
	[Aproval] [bit] NULL,
	[DeviceToken] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 11/13/2024 6:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[Id] [uniqueidentifier] NOT NULL,
	[UserTypes] [nvarchar](150) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Class] ([Id], [ClassName], [UpdateAt], [Status]) VALUES (N'35e428de-83f4-4cf2-bc81-5e5b4d47413a', N'Ten', NULL, 1)
INSERT [dbo].[Class] ([Id], [ClassName], [UpdateAt], [Status]) VALUES (N'22736871-ce92-47ff-a53a-e9018dbb59ca', N'Nine', NULL, 1)
INSERT [dbo].[Class] ([Id], [ClassName], [UpdateAt], [Status]) VALUES (N'2561d9a7-20f0-40b6-9827-e5eecaad78bc', N'Eight', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [Status]) VALUES (1, N'Roles', N'Role', N'Index', N'Role', 1)
INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [Status]) VALUES (2, N'Users', N'User', N'Index', N'User', 1)
INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [Status]) VALUES (3, N'Teacher Approval', N'TeacherApproval', N'Index', N'TeacherApproval', 1)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
INSERT [dbo].[ProblemsPost] ([Id], [SubjectId], [Topic], [ClassId], [Description], [Photo], [UserId], [Status], [GetDateby], [Updateby]) VALUES (N'bdce98fd-80f9-4793-8cbf-37c94b14c8ba', N'6f731737-cabd-457f-a3e8-65959e2f015e', N'Binary', N'35e428de-83f4-4cf2-bc81-5e5b4d47413a', N'Solve That', N'00ad2f9c-e21d-437e-a7a4-bbfa57a9dc37_BdFlag.jpg', N'05485b5b-fac1-47f3-8f1c-d3cc6e0c4127', 1, CAST(N'2024-10-27T00:00:00.000' AS DateTime), CAST(N'2024-10-27T00:00:00.000' AS DateTime))
INSERT [dbo].[ProblemsPost] ([Id], [SubjectId], [Topic], [ClassId], [Description], [Photo], [UserId], [Status], [GetDateby], [Updateby]) VALUES (N'b096a5fc-0f32-4e6d-9437-34f0718db8c9', N'a63ad0c6-5a81-4390-b17c-7b35e2130609', N'math', N'35e428de-83f4-4cf2-bc81-5e5b4d47413a', N'nothing', N'c94b9b84-33aa-4976-b52b-c62f810de197_1000043457.jpg', N'4728bc85-d526-4a04-a84e-3e43f96b0323', 1, CAST(N'2024-10-28T00:00:00.000' AS DateTime), CAST(N'2024-10-28T00:00:00.000' AS DateTime))
INSERT [dbo].[ProblemsPost] ([Id], [SubjectId], [Topic], [ClassId], [Description], [Photo], [UserId], [Status], [GetDateby], [Updateby]) VALUES (N'7f1d668c-678a-4c97-b5f1-7ec6bf5bc076', N'a63ad0c6-5a81-4390-b17c-7b35e2130609', N'math', N'35e428de-83f4-4cf2-bc81-5e5b4d47413a', N'tt', N'374c2b56-801a-4107-8c62-85e0755a60a1_1000043205.jpg', N'4728bc85-d526-4a04-a84e-3e43f96b0323', 1, CAST(N'2024-10-28T00:00:00.000' AS DateTime), CAST(N'2024-10-28T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'96653662-ef17-4c35-b8b9-20fb5772cc85', N'Super Admin', 1)
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e', N'Student', 1)
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a88', N'Teacher', 1)
GO
INSERT [dbo].[SolutionPost] ([Id], [TeacherId], [Photo], [StudentId], [Status], [GetDateby], [Updateby], [ProblemPostId]) VALUES (N'b979f3dc-5802-4db1-8465-04b881ae8d61', N'100cde19-aec3-4779-b3ed-96b782a1a323', N'cb65b25e-f973-4956-a508-db9fd8e90fb5_জাকের_পার্টি_পতাকা.jpg', N'05485b5b-fac1-47f3-8f1c-d3cc6e0c4127', 1, CAST(N'2024-10-27T00:00:00.000' AS DateTime), CAST(N'2024-10-27T00:00:00.000' AS DateTime), N'bdce98fd-80f9-4793-8cbf-37c94b14c8ba')
INSERT [dbo].[SolutionPost] ([Id], [TeacherId], [Photo], [StudentId], [Status], [GetDateby], [Updateby], [ProblemPostId]) VALUES (N'0cb18b26-a39e-44b1-9065-f8b547f7dd96', N'100cde19-aec3-4779-b3ed-96b782a1a323', N'b35965d8-837c-43d5-a64c-7be00498d233_1000043270.jpg', N'4728bc85-d526-4a04-a84e-3e43f96b0323', 1, CAST(N'2024-10-28T00:00:00.000' AS DateTime), CAST(N'2024-10-28T00:00:00.000' AS DateTime), N'b096a5fc-0f32-4e6d-9437-34f0718db8c9')
GO
INSERT [dbo].[Subject] ([Id], [SubjectName], [UpdateAt], [Status]) VALUES (N'a63ad0c6-5a81-4390-b17c-7b35e2130609', N'Mathematices', NULL, 1)
INSERT [dbo].[Subject] ([Id], [SubjectName], [UpdateAt], [Status]) VALUES (N'6f731737-cabd-457f-a3e8-65959e2f015e', N'English', NULL, 1)
INSERT [dbo].[Subject] ([Id], [SubjectName], [UpdateAt], [Status]) VALUES (N'3385a4bd-3f1a-44ed-b6d5-b606afe66196', N'Chemistry', NULL, 1)
GO
INSERT [dbo].[TeacherSkill] ([Id], [UserId], [SubjectId], [GetDateby], [Updateby]) VALUES (N'9dae7783-8913-44d7-9654-9172282226e7', N'100cde19-aec3-4779-b3ed-96b782a1a323', N'a63ad0c6-5a81-4390-b17c-7b35e2130609', CAST(N'2024-10-27T00:00:00.000' AS DateTime), CAST(N'2024-10-27T00:00:00.000' AS DateTime))
INSERT [dbo].[TeacherSkill] ([Id], [UserId], [SubjectId], [GetDateby], [Updateby]) VALUES (N'affdbf0d-c3ce-4ff1-ae72-d79d53006563', N'100cde19-aec3-4779-b3ed-96b782a1a323', N'6f731737-cabd-457f-a3e8-65959e2f015e', CAST(N'2024-11-13T00:00:00.000' AS DateTime), CAST(N'2024-11-13T00:00:00.000' AS DateTime))
INSERT [dbo].[TeacherSkill] ([Id], [UserId], [SubjectId], [GetDateby], [Updateby]) VALUES (N'61b8d5a0-d32b-4bd4-b72b-b2e23e2eb6ed', N'100cde19-aec3-4779-b3ed-96b782a1a323', N'3385a4bd-3f1a-44ed-b6d5-b606afe66196', CAST(N'2024-11-13T00:00:00.000' AS DateTime), CAST(N'2024-11-13T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'2503fde7-6fdb-4328-8ad4-034fcbf625ed', N'96653662-ef17-4c35-b8b9-20fb5772cc85')
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'100cde19-aec3-4779-b3ed-96b782a1a323', N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a88')
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'05485b5b-fac1-47f3-8f1c-d3cc6e0c4127', N'5ccd4431-3b29-43ef-b081-300294c0ce4c')
GO
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [Status], [School], [ClassId], [Dob], [GetDateby], [Updateby], [UserTypeId], [OTP], [SubjectId], [Image], [Aproval], [DeviceToken]) VALUES (N'2503fde7-6fdb-4328-8ad4-034fcbf625ed', N'Super Admin', N'01784932050', N'superadmin@gmail.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [Status], [School], [ClassId], [Dob], [GetDateby], [Updateby], [UserTypeId], [OTP], [SubjectId], [Image], [Aproval], [DeviceToken]) VALUES (N'05485b5b-fac1-47f3-8f1c-d3cc6e0c4127', N'Nur', N'019', N'n@gmail.com', N'123', 1, NULL, NULL, N'10/27/2024 6:58:27 AM', CAST(N'2024-10-27T00:00:00.000' AS DateTime), CAST(N'2024-10-27T00:00:00.000' AS DateTime), N'5ccd4431-3b29-43ef-b081-300294c0ce4c', 123509, NULL, NULL, 0, NULL)
GO
