USE [EDex365_DB]
GO
/****** Object:  User [EDex365_DB]    Script Date: 7/29/2025 10:24:15 AM ******/
CREATE USER [EDex365_DB] FOR LOGIN [EDex365_DB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [saedex365]    Script Date: 7/29/2025 10:24:15 AM ******/
CREATE USER [saedex365] FOR LOGIN [saedex365] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [EDex365_DB]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [EDex365_DB]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [EDex365_DB]
GO
ALTER ROLE [db_datareader] ADD MEMBER [EDex365_DB]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [EDex365_DB]
GO
ALTER ROLE [db_owner] ADD MEMBER [saedex365]
GO
/****** Object:  Table [dbo].[Balance]    Script Date: 7/29/2025 10:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Amount] [money] NULL,
	[GatDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimCommunication]    Script Date: 7/29/2025 10:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimCommunication](
	[Id] [uniqueidentifier] NOT NULL,
	[VoiceUrl] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Text] [nvarchar](500) NULL,
	[UserId] [uniqueidentifier] NULL,
	[SolutionId] [uniqueidentifier] NULL,
	[UserType] [uniqueidentifier] NULL,
	[GetDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimTask]    Script Date: 7/29/2025 10:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimTask](
	[Id] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NULL,
	[StudentId] [uniqueidentifier] NULL,
	[ProblemPostId] [uniqueidentifier] NULL,
	[TaskImage] [nvarchar](250) NULL,
	[SolutionImage] [nvarchar](250) NULL,
	[GetDateby] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/29/2025 10:24:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassName] [nvarchar](250) NULL,
	[UpdateAt] [date] NULL,
	[Status] [bit] NULL,
	[Amount] [money] NULL,
	[S_ClassName] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Communication]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Communication](
	[Id] [uniqueidentifier] NOT NULL,
	[VoiceUrl] [nvarchar](500) NULL,
	[Text] [nvarchar](500) NULL,
	[UserId] [uniqueidentifier] NULL,
	[ProblemPostId] [uniqueidentifier] NULL,
	[UserType] [uniqueidentifier] NULL,
	[GetDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnglishMediumClass]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnglishMediumClass](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassName] [nvarchar](250) NULL,
	[UpdateAt] [date] NULL,
	[Status] [bit] NULL,
	[Amount] [money] NULL,
	[S_ClassName] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Controller] [varchar](50) NULL,
	[Action] [varchar](50) NULL,
	[PermissionName] [varchar](50) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostType]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostTypeDetails]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTypeDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[PostTypeId] [uniqueidentifier] NULL,
	[Status] [bit] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[S_Name] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemsPost]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemsPost](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NULL,
	[Topic] [nvarchar](250) NULL,
	[ClassId] [uniqueidentifier] NULL,
	[Description] [nvarchar](500) NULL,
	[Photo] [nvarchar](250) NULL,
	[UserId] [uniqueidentifier] NULL,
	[Status] [bit] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[Flag] [bit] NULL,
	[PostTypeId] [uniqueidentifier] NULL,
	[Amount] [money] NULL,
	[ForWallet] [bit] NULL,
	[TaskPending] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecivedProblem]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecivedProblem](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[ProblemsPostId] [uniqueidentifier] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[SolutionPending] [bit] NULL,
	[S_LastTime] [time](7) NULL,
	[Flag] [bit] NULL,
	[BlockFlag] [bit] NULL,
	[UnlockTime] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[RoleId] [uniqueidentifier] NULL,
	[MenuId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolutionPost]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolutionPost](
	[Id] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NULL,
	[Photo] [nvarchar](250) NULL,
	[StudentId] [uniqueidentifier] NULL,
	[Status] [bit] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[ProblemPostId] [uniqueidentifier] NULL,
	[PaymentTime] [time](7) NULL,
	[PaymentBlock] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectName] [nvarchar](250) NULL,
	[UpdateAt] [date] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherBalance]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherBalance](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Amount] [money] NULL,
	[GatDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSkill]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSkill](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[SubjectId] [uniqueidentifier] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [uniqueidentifier] NULL,
	[RoleId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[MobileNo] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](15) NULL,
	[Status] [bit] NULL,
	[School] [nvarchar](250) NULL,
	[ClassId] [uniqueidentifier] NULL,
	[Dob] [nvarchar](150) NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL,
	[UserTypeId] [uniqueidentifier] NULL,
	[OTP] [int] NULL,
	[SubjectId] [uniqueidentifier] NULL,
	[Image] [nvarchar](250) NULL,
	[Aproval] [bit] NULL,
	[DeviceToken] [nvarchar](250) NULL,
	[CV] [nvarchar](250) NULL,
	[AcademicImage] [nvarchar](250) NULL,
	[UserBlocked] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[Id] [uniqueidentifier] NOT NULL,
	[UserTypes] [nvarchar](150) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 7/29/2025 10:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[ID] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[TransactionId] [nvarchar](500) NULL,
	[Amount] [money] NULL,
	[GetDateby] [datetime] NULL,
	[Updateby] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Balance] ([Id], [UserId], [Amount], [GatDate]) VALUES (N'5f6c3f16-95de-4a9e-994d-a68c92b0cf5e', N'2448b0dc-f396-409b-b55e-5fab7c2f0c67', 2000.0000, CAST(N'2025-06-23T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Class] ([Id], [ClassName], [UpdateAt], [Status], [Amount], [S_ClassName]) VALUES (N'35e428de-83f4-4cf2-bc81-5e5b4d47413a', N'Four', NULL, 1, 20.0000, 4)
INSERT [dbo].[Class] ([Id], [ClassName], [UpdateAt], [Status], [Amount], [S_ClassName]) VALUES (N'22736871-ce92-47ff-a53a-e9018dbb59ca', N'Five', NULL, 1, 20.0000, 5)
INSERT [dbo].[Class] ([Id], [ClassName], [UpdateAt], [Status], [Amount], [S_ClassName]) VALUES (N'2561d9a7-20f0-40b6-9827-e5eecaad78bc', N'Six', NULL, 0, 30.0000, 6)
GO
INSERT [dbo].[EnglishMediumClass] ([Id], [ClassName], [UpdateAt], [Status], [Amount], [S_ClassName]) VALUES (N'5e9cbeae-c91b-4c7d-87f3-8ff0653240ba', N'Standard 4', NULL, 1, 30.0000, 4)
INSERT [dbo].[EnglishMediumClass] ([Id], [ClassName], [UpdateAt], [Status], [Amount], [S_ClassName]) VALUES (N'c39289ef-1135-47c4-ab97-b73a2369b7ac', N'Standard 5', NULL, 1, 30.0000, 5)
INSERT [dbo].[EnglishMediumClass] ([Id], [ClassName], [UpdateAt], [Status], [Amount], [S_ClassName]) VALUES (N'3818d5e0-5e42-4ee9-b9a6-fa1154e9556f', N'Standard 6', NULL, 1, 40.0000, 6)
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [Status]) VALUES (1, N'Roles', N'Role', N'Index', N'Role', 1)
INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [Status]) VALUES (2, N'Users', N'User', N'Index', N'User', 1)
INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [Status]) VALUES (3, N'Teacher Approval', N'TeacherApproval', N'Index', N'TeacherApproval', 1)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
INSERT [dbo].[PostType] ([Id], [Name], [Status], [GetDateby], [Updateby]) VALUES (N'e9212211-4918-4393-b8b3-beac12f11a0d', N'Academic', 1, CAST(N'2025-04-21T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime))
INSERT [dbo].[PostType] ([Id], [Name], [Status], [GetDateby], [Updateby]) VALUES (N'bb5180d0-565d-4596-96c3-dd8418de9a77', N'Additional', 1, CAST(N'2025-04-08T00:00:00.000' AS DateTime), CAST(N'2025-04-08T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[PostTypeDetails] ([Id], [Name], [PostTypeId], [Status], [GetDateby], [Updateby], [S_Name]) VALUES (N'91030e39-7e97-4513-b532-844bacd94801', N'English Medium', N'e9212211-4918-4393-b8b3-beac12f11a0d', 1, CAST(N'2025-04-21T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), N'English')
INSERT [dbo].[PostTypeDetails] ([Id], [Name], [PostTypeId], [Status], [GetDateby], [Updateby], [S_Name]) VALUES (N'762c0cef-ac72-481d-aabb-0db1ba90a753', N'General(English Version/Bangla)', N'e9212211-4918-4393-b8b3-beac12f11a0d', 1, CAST(N'2025-04-21T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), N'Bangla')
GO
INSERT [dbo].[ProblemsPost] ([Id], [SubjectId], [Topic], [ClassId], [Description], [Photo], [UserId], [Status], [GetDateby], [Updateby], [Flag], [PostTypeId], [Amount], [ForWallet], [TaskPending]) VALUES (N'513165d1-7fdf-4e6c-91bc-a45c62f35038', N'3385a4bd-3f1a-44ed-b6d5-b606afe66196', N'Hi->>>---EDEX-1', N'c39289ef-1135-47c4-ab97-b73a2369b7ac', N'notification_test+9', NULL, N'2448b0dc-f396-409b-b55e-5fab7c2f0c67', 1, CAST(N'2025-07-29T00:00:00.000' AS DateTime), CAST(N'2025-07-29T00:00:00.000' AS DateTime), 0, N'91030e39-7e97-4513-b532-844bacd94801', 30.0000, 0, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'96653662-ef17-4c35-b8b9-20fb5772cc85', N'Super Admin', 1)
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e', N'Student', 1)
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a88', N'Teacher', 1)
GO
INSERT [dbo].[Subject] ([Id], [SubjectName], [UpdateAt], [Status]) VALUES (N'a63ad0c6-5a81-4390-b17c-7b35e2130609', N'Mathematices', NULL, 1)
INSERT [dbo].[Subject] ([Id], [SubjectName], [UpdateAt], [Status]) VALUES (N'6f731737-cabd-457f-a3e8-65959e2f015e', N'English', NULL, 1)
INSERT [dbo].[Subject] ([Id], [SubjectName], [UpdateAt], [Status]) VALUES (N'3385a4bd-3f1a-44ed-b6d5-b606afe66196', N'Chemistry', NULL, 1)
GO
INSERT [dbo].[TeacherSkill] ([Id], [UserId], [SubjectId], [GetDateby], [Updateby], [Status]) VALUES (N'40392b3a-e697-4bf3-8ff2-1b21a4536a9c', N'88a9dce7-2704-4848-ba1d-ed0809e7aa63', N'3385a4bd-3f1a-44ed-b6d5-b606afe66196', CAST(N'2025-07-28T00:00:00.000' AS DateTime), CAST(N'2025-07-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TeacherSkill] ([Id], [UserId], [SubjectId], [GetDateby], [Updateby], [Status]) VALUES (N'78b26c1c-04c2-433e-a520-9893c0f515bb', N'88a9dce7-2704-4848-ba1d-ed0809e7aa63', N'6f731737-cabd-457f-a3e8-65959e2f015e', CAST(N'2025-07-28T00:00:00.000' AS DateTime), CAST(N'2025-07-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TeacherSkill] ([Id], [UserId], [SubjectId], [GetDateby], [Updateby], [Status]) VALUES (N'67d1eb1d-fe8f-47f5-b239-48b6c8230032', N'fcc1545f-240b-4e0d-9faf-87e16ee5f46e', N'a63ad0c6-5a81-4390-b17c-7b35e2130609', CAST(N'2025-06-23T00:00:00.000' AS DateTime), CAST(N'2025-06-23T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'2503fde7-6fdb-4328-8ad4-034fcbf625ed', N'96653662-ef17-4c35-b8b9-20fb5772cc85')
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'82f5e697-2a28-4dae-ae13-4e3ecc997ba6', N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a88')
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'2448b0dc-f396-409b-b55e-5fab7c2f0c67', N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e')
GO
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [Status], [School], [ClassId], [Dob], [GetDateby], [Updateby], [UserTypeId], [OTP], [SubjectId], [Image], [Aproval], [DeviceToken], [CV], [AcademicImage], [UserBlocked]) VALUES (N'2503fde7-6fdb-4328-8ad4-034fcbf625ed', N'Super Admin', N'01784932050', N'superadmin@gmail.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, 0)
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserBlocked]  DEFAULT ((0)) FOR [UserBlocked]
GO
