USE [NokiaServiceManagement]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 10/19/2024 10:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[RoleId] [uniqueidentifier] NULL,
	[MenuId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/19/2024 10:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 10/19/2024 10:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [uniqueidentifier] NULL,
	[RoleId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/19/2024 10:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[MobileNo] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](15) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[RolePermission] ([RoleId], [MenuId]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e', 7)
INSERT [dbo].[RolePermission] ([RoleId], [MenuId]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e', 8)
INSERT [dbo].[RolePermission] ([RoleId], [MenuId]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e', 9)
GO
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'96653662-ef17-4c35-b8b9-20fb5772cc85', N'Super Admin', 1)
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e', N'MD Shoeb', 1)
INSERT [dbo].[Roles] ([Id], [Name], [status]) VALUES (N'a8de18b0-c476-40bf-9fc4-e7966fa7f99d', N'Ashikur Rahman', 1)
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'2503fde7-6fdb-4328-8ad4-034fcbf625ed', N'96653662-ef17-4c35-b8b9-20fb5772cc85')
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'be1a01b5-b99b-4135-af11-724404e87f55', N'f81b1666-d8d3-4edb-91e3-59f4e8fd6a6e')
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'f6cfd1f5-f100-44c7-9f53-b029a8a5c07b', N'a8de18b0-c476-40bf-9fc4-e7966fa7f99d')
GO
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [Status]) VALUES (N'2503fde7-6fdb-4328-8ad4-034fcbf625ed', N'Super Admin', N'01784932050', N'superadmin@gmail.com', N'12345678', 1)
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [Status]) VALUES (N'be1a01b5-b99b-4135-af11-724404e87f55', N'MD Shoeb', N'01711126026', N'shoeb@salextra.com', N'1612', 1)
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [Status]) VALUES (N'f6cfd1f5-f100-44c7-9f53-b029a8a5c07b', N'MD Ashikur Rahman', N'01701053814', N'ashik34599@gmail.com', N'12345', 1)
GO
