@model S_EDex365.Model.Model.User
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

.form {
        padding-left:250px;
        padding-right:250px;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

    .form :where(.input-box select, .select-box) {
        position: relative;
        height: 50px !important;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: #707070;
        margin-top: 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 15px;
    }

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}

</style>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<section class="container">
    <header>Registration Form</header>
    <form class="form" method="post">
        <div class="column">
            <div class="input-box">
                <label>FullName</label>
                <input type="text" placeholder="Enter full name" id="name" required />
            </div>
            <div class="input-box">
                <label>EmailAddress</label>
                <input type="text" placeholder="Enter email address"  id="email" required />
            </div>
        </div>
        
        <div class="column">
            <div class="input-box">
                <label>PhoneNumber</label>
                <input type="number" placeholder="Enter phone number" id="mobileNo" required />
            </div>
            <div class="input-box">
                <label>Password</label>
                <input type="password" placeholder="Enter password" required id="password" />
            </div>
        </div>
        <div class="column" style="display:none">
            <div class="input-box">
                <label>School</label>
                <input type="text" placeholder="Enter school" id="school" required />
            </div>
            <div class="input-box">
                <label>Class</label>
                <input type="text" placeholder="Enter class" required id="class" />
            </div>
        </div>
        <div class="column">
            
            <div class="input-box">
                <label>User Type</label>
                <select id="roles" name="roles" asp-items="@ViewBag.RoleList" class="form-control " required>
                    <option disabled selected>--Select Types--</option>
                </select>
            </div>


            <div class="input-box">
                <label>Birth Date</label>
                <input type="date" placeholder="Enter birth date" id="dob" required />
            </div>
        </div>

        <button id="submitBtn" type="button">Submit</button>
    </form>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $("#submitBtn").click(function () {
        // alert("Submiting Data")
        var data = {
            Name: $("#name").val(),
            Email: $("#email").val(),
            MobileNo: $("#mobileNo").val(),
            Password: $("#password").val(),
            School: $("#school").val(),
            Class: $("#class").val(),
            RName: $("#roles").val(),
            Role: $("#roles").val(),
            Dob: $("#dob").val(),
            status: 1
        };
        console.log(data);
        $.ajax({
            url: "/User/InsertSignUp",
            type: "POST",
            data: data,
            success: function (response) {
                // console.log(response);
                if (response.result == true) {
                    // alert("AJAX request successfully completed");


                    // window.location.href = '/SaveOtp/Otp';
                    window.location.href = '/SaveOtp/Otp?userId=' + response.userId;



                    // window.location.href = '@Url.Action("Otp", "SaveOtp")';
                }
                else {
                    // toastr.error("Something went wrong")
                    toastr.error("This mobile number is already registered.")
                }
            },
            error: function (er) {
                alert(er);
            }
        });
    });


    // $("#submitBtn").click(function () {

    //     var data = {
    //         Name: $("#name").val(),
    //         Email: $("#email").val(),
    //         MobileNo: $("#mobileNo").val(),
    //         Password: $("#password").val(),
    //         School: $("#school").val(),
    //         Class: $("#class").val(),
    //         RName: $("#roles").val(),
    //         Role: $("#roles").val(),
    //         Dob: $("#dob").val(),
    //         status: 1
    //     };
    //     console.log(data);

    //     $.ajax({
    //         url: "/User/InsertSignUp",
    //         type: "POST",
    //         data: data,
    //         success: function (response) {
    //             if (response.result == true) {
    //                 $("#addContent").html('');
    //                 $('#addModal').modal('hide');
    //                 dataTable.ajax.reload();
    //                 toastr.success("Successfully  Created")
    //                 window.location.href = '/SaveOtp/Otp';
    //             }
    //             else {
    //                 toastr.error("Something went wrong")
    //             }
    //         },
    //         error: function (er) {
    //             alert(er);
    //         }
    //     });
    // });
</script>

