
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutA.cshtml";
}


<div class="content-wrapper">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Pending Question</h2>
                        <h5 class="card-text text-center">12</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Received Question</h2>
                        <h5 class="card-text text-center">12</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Checking Question</h2>
                        <h5 class="card-text text-center">12</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Approve Delivered Question</h2>
                        <h5 class="card-text text-center">12</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Canceled Question</h2>
                        <h5 class="card-text text-center">12</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Canceled Delivered Question</h2>
                        <h5 class="card-text text-center">12</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

