@model S_EDex365.Model.Model.UserType

<div class="col-12 mt-2 mt-3">
    <input hidden id="userTypeId" value="@Model.Id" />
    <div class="form-group">
        <label> User Type</label>
        <input type="text" class="form-control" value="@Model.UserTypes" id="userTpyes" placeholder="Enter User Type Name....">
    </div>
</div>
<div class="col-12 mt-2">
    <div class="form-check">
        <label> Status</label>
        <input class="form-check-input" type="checkbox" class="form-control" id="statusId">
    </div>
</div>

<div class="col-12 mt-2">
    <button id="submitBtn" class="btn btn-primary form-control">Submit</button>
</div>
<div class="col-12 mt-2 mb-3">
    <button id="closeBtn" class="btn btn-warning form-control">Closed</button>
</div>


<script>

    if ('@Model.Status' == 'True') {
        $("#statusId").attr('checked', 'checked')
    }
    $("#submitBtn").click(function () {
        var statusValue = false;
        if ($("#statusId").is(':checked')) {
            statusValue = true;
        }
        var data = {
            id: $("#userTypeId").val(),
            UserTypes: $("#userTpyes").val(),
            status: statusValue
        };

        $.ajax({
            url: "/UserType/UpdateUserTypePartail",
            type: "POST",
            data: data,
            success: function (response) {
                if (response.result == true) {
                    $("#modalContent").html('');
                    $('#updateModal').modal('hide');
                    dataTable.ajax.reload();
                    toastr.success("Successfully  Updated")
                }
                else {
                    toastr.error("Something went wrong")
                }
            },
            error: function (er) {
                alert(er);
            }
        });
    });

    $("#closeBtn").click(function () {
        $('#updateModal').modal('hide');
    });
</script>